body{
	/*font-family: Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.6;*/
}

.form-area {
	background-color: #FCFCFC;
	border-style: solid;
	border-color: #BBB;
	border-width: 1px;
	border-radius: 4px 4px 4px 4px;
	width: 100%;
	
	padding: 15px;
	
	margin: 0px;
	
	display: block;
	
}

.input-group {
	/*display: table-cell;*/
	width: 100%;
	float:left;
	margin-bottom: 2%;
}

#login-but {
	background-color: #4276D7;
	color: #FFFFFF;
	/*float: right;*/
}

.page-title {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	
	color: #4276D7;
}

.rating {
	float: left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #4276D7;
    text-shadow:1px 1px #2E5396, 2px 2px #2E5396, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #6891DF;
    text-shadow:1px 1px #8298C0, 2px 2px #8298C0, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #6891DF;
    text-shadow:1px 1px #8298C0, 2px 2px #8298C0, .1em .1em .2em rgba(0,0,0,.5);
}



