body {
    
    padding-bottom: 20px;
}
.nav {
    height: 2.5em;
}
.nav li {
    font-size: 1.3em;
    text-align: center;
    vertical-align: central;
    padding-bottom: .6em;
    padding-top: .6em;
}

.navbar-brand{
    font-size: 1.3em;
    text-align: center;
    vertical-align: central;
    padding-bottom: .6em;
    padding-top: .6em;
}

.navbar-inverse {
    /*background-color: #766e7e;*/
    background-color: #5A5C65;
    margin: 0;
}

.masthead {
    background-color: #8B8B99;
    /*background-image: linear-gradient(#413350 0px, #660000) 100%);*/
    background-repeat: repeat-x;
    box-sizing: border-box;
    display: block;
    padding: 60px 0;
    text-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px;
}
.codingtools-masthead {
    background-color: #685080;
    background-image: linear-gradient(#685080 0px, rgb(111, 84, 153) 100%);
    background-repeat: repeat-x;
    box-sizing: border-box;
    display: block;
    padding: 60px 0;
    text-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px;
}

.masthead-container {
    color: white;
    text-align: center;   
}

.masthead-link {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-style: groove;
}

.masthead-link:hover {
   
    text-decoration: none;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
