#review{
	/*
	display:inline-block;
	margin-left:0;
	background-color: white;
	*/
	font-family:bold;
	height:150px;
	width:30%;
}

#desc{
	/*
	display:inline-block;
	margin-left:auto;
	margin-right: auto;
	background-color: white;
	*/
	font-family:bold;
	height:300px;
	width:40%;
}

#tags{
	/*display:inline-block;
	margin-right:0;
	background-color: white;
	*/
	font-family:bold;
	/*text-decoration:underline; */
	height:200px;
	width:30%;
}
#underlined{
	text-decoration: underline;
}
#content{
	display:inline-block;
}

#link{
	display:none;
}
