@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>&lt; CodingTools / &gt;</h1>
    @*<p class="lead">Demand for Coding increases everyday. It is becoming an intergral part of Primary and Secondary Education accross the country. 
        CodingTools matches teachers and students with coding resources to fit their needs.</p>*@
    <p class="lead">
        Software Development is one of the fasting growing fields in America. Coding is spreading to classrooms of all grades.
        <strong>CodingTools matches teachers and students with coding resources to fit their needs.</strong>
    </p>
    @*<p class="pull-left"><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
    <p class="pull-right"><a href="http://asp.net" class="btn btn-primary btn-lg">Sign Up &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Explore</h2>
        <p>
            Jump to a list of all of our selected tools. Filter down the results by format, grade level, ranking and more!
        </p>
        <p>
            @*<a class="btn btn-default" href="#">Go to List &raquo;</a>*@
            @Html.ActionLink("Go to List", "List", "", new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get Tailered Tools</h2>
        <p>Select your sitiuation and get tailored recomadations for your classrom.</p>
        <p>
            @Html.ActionLink("Get Fit", "Tailor", "", new {@class="btn btn-default"})
        </p>
    </div>
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p>Create an account to save settings, bookmark tools, and provide suggestions to other teachers and educators. </p>
        <p>
            <a class="btn btn-default" href="#">Sign Up &raquo;</a>
        </p>
    </div>
</div>