
@{
    ViewBag.Title = "Login";
}
<link href="~/Content/Login.css" rel="stylesheet" type="text/css" />

<script src="~/scripts/login.js"></script>



<h2>Login</h2>

<div class="form-area">
    <form data-example-id="simple-input-groups">
        <div class="input-group input-group-lg" id="sizing-addon1">
            <input type="text" class="form-control" aria-describedby="sizing-addon1" placeholder="Username" data-bind="value: username" />
        </div>
        <br />

        <div class="input-group input-group-lg" id="sizing-addon1">
            <input type="password" class="form-control" aria-describedby="sizing-addon1" placeholder="Password" data-bind="value: password" />
        </div>
        <br />

        <div class="btn-group-lg btn-group-justified" role="group" aria-label="Justified button group">
            <!----<a href="account_creation.html" class="btn btn-default" role="button">Sign Up</a>
            <a href="#" class="btn btn-default" role="button" id="login-but">Log In</a>-->
            @Html.ActionLink("Sign Up", "MakeAccount", "", new { @class = "btn btn-default" })
            @Html.ActionLink("Log In", "Index", "", new { @class = "btn btn-default" })
        </div>
        <!--<button type="button" class="btn btn-default btn-lg" aria-label="Left Align" id="login-but">
            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
            Log in
        </button>-->
    </form>
</div>
