
@{
    ViewBag.Title = "Account Creation";
}
<link href="~/Content/Login.css" rel="stylesheet" type="text/css"/>

<h2>Account Creation</h2>

<div class="form-area">
    <form data-example-id="simple-input-groups">
        <div class="input-group input-group-lg" id="sizing-addon1">
            <span class="input-group-addon" id="basic-addon1">Username</span>
            <input type="text" class="form-control" aria-describedby="sizing-addon1" placeholder="Username"></input>
        </div>
        <br></br>

        <div class="input-group input-group-lg" id="sizing-addon1">
            <span class="input-group-addon" id="basic-addon1">Email</span>
            <input type="text" class="form-control" aria-describedby="sizing-addon1" placeholder="Email"></input>

        </div>
        <br></br>

        <div class="input-group input-group-lg" id="sizing-addon1">
            <span class="input-group-addon" id="basic-addon1">Password</span>
            <input type="password" class="form-control" aria-describedby="sizing-addon1" placeholder="Password"></input>

        </div>
        <br></br>

        <div class="input-group input-group-lg" id="sizing-addon1">
            <span class="input-group-addon" id="basic-addon1">Confirm Password</span>
            <input type="password" class="form-control" aria-describedby="sizing-addon1" placeholder="Confirm Password"></input>

        </div>
        <br></br>

        @Html.ActionLink("Log In", "Index", "", new { @class = "btn btn-default btn-lg" })

        <!--<button type="button" class="btn btn-default btn-lg" aria-label="Left Align" id="login-but">
            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
            Log in
        </button>-->
    </form>
</div>
