@{
    ViewBag.Title = "viewTool";
}


<link rel="stylesheet" type="text/css" href="../../Content/Tools.css" />
<script type="text/javascript" src="../../scripts/tool.js"></script>

<a href="#" target="_blank" id="link">
    <div class="jumbotron">
        <div class="container">
            <!-- <h1 data-bind="text: siteInfo().name"></h1> -->
        </div>
    </div>
</a>
<!--<div class="container">
    <h1> &#60;coding tools /></h1>
</div> -->
<div class="container">
    <div id="name">
        <h3 data-bind="text: siteInfo().name"></h3>
    </div>

    <br />
    <div id="tags">

    </div>
</div>
<br />
<div class="container">
    <div id="about" data-bind="text: siteInfo().desc">

    </div>
</div>

<div class="container">
    <div id="reviews">

    </div>
</div>
