        @{
    ViewBag.Title = "viewTool";
}


<link rel="stylesheet" type="text/css" href="../../Content/Tools.css"/>
<link rel="stylesheet" href="~/Content/ReviewBox.css" />
<script type="text/javascript" src="../../scripts/tool.js"></script>

<a href="#" data-bind="attr:{href: url}" target="_blank" id="link">
    <div class="jumbotron" data-bind="style: {backgroundImage: 'url(' + imageUrl +')'}">
        <div class="container">
            <!-- <h1 data-bind="text: siteInfo().name"></h1> -->
        </div>
    </div>
</a>

<div class="container">
    <h1 style="text-align: left" data-bind="text:name"></h1>
    <br />
    <div class=" tags-container" data-bind="foreach:tags">
        <div class="btn btn-default" data-bind="text:name"></div>
    </div>
</div>
<br />
<div class="container">
    <div id="about" data-bind="text: desc">

    </div>
</div>

<div class="review-box" data-bind="foreach:reviewArray()">
    <div class="review">
        <h4 class="review-title"><strong data-bind="text: title"></strong> - <span data-bind="text:ratingDisplay"></span></h4>


        @*<div class="rating-and-tags">
                <fieldset class="rating" disabled>
                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
                    <input type="radio" id="star4" name="rating" value="4" checked="checked" /><label for="star4" title="Pretty good">4 stars</label>
                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                </fieldset>
            </div>*@

        <div class="review-details">
            <p>
                <strong data-bind="text: username"></strong> @*| <em data-bind="text: reviewDate"></em>*@
            </p>
            <p data-bind="text: content"></p>
        </div>
    </div>
</div>